@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



*{
  -ms-overflow-style: none;
} */
 ::-webkit-scrollbar {
  display: none;
} 
.h1{

 
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 2.5rem;
  margin-top: 0;

  font-size: 63px !important;
 
}




.main-title{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.btn1{
  background: linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
}


.btn2{
background-color: #B7E5DD;
}






.text1 {
    font-size: 27px;
    background: -webkit-linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }




  .text5 {
  
    background: -webkit-linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }



  .trans-left {

    transform: translateX(-410px);
  }





  .star{

width: 10px;
height: 10px;

  }

  .star-b{

width: 20px;
height: 20px;

  }


  .bt{

  background-color: #b673f8;
  }


  .card-items > div {

margin-top: 26px;


  }


  .card-items{

padding-bottom: 25px;

  }